- let relativePath = '.'
- let page_title = 'MARK CALDERON | FRONT END WEB DEVELOPER | SOFTWARE ENGINEER'
- let meta_title = page_title
- let meta_description = 'Portfolio site of Mark Angeo Calderon, We build landing pages, product listing, contact forms and WordPress.'
- let meta_keywords = 'developer portfolio, web, web design, web development, web consultation'
- let meta_url = `https://markcalderon.github.io/`

doctype html
html(lang="en")
    include _inc/_head.pug
    body
        main
            include _inc/_sections/_kvSec.pug
            //- include _inc/_header.pug
            include _inc/_sections/_introSec.pug
            include _inc/_sections/_hisSec.pug
            include _inc/_sections/_softSec.pug
            include _inc/_sections/_proSec.pug
            //- include _inc/_sections/_tooSec.pug
            include _inc/_sections/_conSec.pug
            include _inc/_modals.pug
            include _inc/_footer.pug

