- let relativePath = '.'
- let page_title = 'MARK CALDERON'
- let meta_title = page_title
- let meta_description = ''
- let meta_keywords = ''
- let meta_url = ''

doctype html
html(lang="en")
    include _inc/_head.pug
    body
        main
            include _inc/_sections/_kvSec.pug
            //- include _inc/_header.pug
            include _inc/_sections/_introSec.pug
            include _inc/_sections/_hisSec.pug
            include _inc/_sections/_softSec.pug
            include _inc/_sections/_proSec.pug
            //- include _inc/_sections/_tooSec.pug
            include _inc/_sections/_conSec.pug
            include _inc/_modals.pug
            include _inc/_footer.pug

