doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MARK CALDERON
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous")
        link(rel="stylesheet" href="./_assets/css/main.css")
    body
        header
        main
            section.kvSec
                .kvSec__inner.js-panoCon
                    .kvSec__innerBg.js-panoObj
                    figure.kvSec__figureArea
                        img.kvSec__figureThumb(src="./_assets/img/common/logo.svg" alt="logo")
                    //- .risingBallScene
                    //-     .ball
                    //-     .ball
                    //-     .ball
                    //-     .ball
                    //-     .ball
                    //-     .ball
                    //-     .ball
                    //-     .ball
                    //-     .ball
                    //-     .ball
            section.hisSec
                .hisSec__inner
                    p.hisSec__startText CAREER PATHWAY
                    // hisSec__tree
                    .hisSec__tree
                        |
                        |
                        .hisSec__treeLeft
                            |
                            |
                            .hisSec__treeItem(class="u-leftSide")
                                .hisSec__treeItemList
                                    .hisSec__treeItemCntArea
                                        p.hisSec__treeItemCntTitleText
                                            | GRADUATE HONOURS STUDENT
                                            br
                                            | BACHELOR OF SCIENCE (HONOURS) IN COMPUTER SCIENCE AND SOFTWARE ENGINEERING
                                        p.hisSec__treeItemCntLosText
                                            | OXFORD BROOKES UNIVERSITY @ SINGAPORE
                                    .hisSec__treeItemYrArea
                                        p.hisSec__treeItemYrText
                                            | 2010-2014
                            |
                            |
                            .hisSec__treeItem(class="u-leftSide")
                                .hisSec__treeItemList
                                    .hisSec__treeItemCntArea
                                        p.hisSec__treeItemCntTitleText
                                            | JUNIOR FRONT-END WEB DEVELOPER
                                        p.hisSec__treeItemCntLosText
                                            | COMMUDE PHILIPPINES INC.
                                    .hisSec__treeItemYrArea
                                        p.hisSec__treeItemYrText
                                            | 2019
                        |
                        |
                        .hisSec__treeMid
                        |
                        |
                        .hisSec__treeRight
                            |
                            |
                            .hisSec__treeItem(class="u-rightSide")
                                .hisSec__treeItemList
                                    .hisSec__treeItemCntArea
                                        p.hisSec__treeItemCntTitleText
                                            | INFORMATION & COMMUNICATIONS
                                            br
                                            | AND TECHNOLOGY TEACHER
                                        p.hisSec__treeItemCntLosText
                                            | SERI MULIA SARJANA INTERNATIONAL SCHOOL
                                    .hisSec__treeItemYrArea
                                        p.hisSec__treeItemYrText
                                            | 2015-2019
                            |
                            |
                            .hisSec__treeItem(class="u-rightSide")
                                .hisSec__treeItemList
                                    .hisSec__treeItemCntArea
                                        p.hisSec__treeItemCntTitleText
                                            | TEAM LEAD&nbsp; | &nbsp;FRONT-END WEB DEVELOPER
                                        p.hisSec__treeItemCntLosText
                                            | COMMUDE PHILIPPINES INC.
                                    .hisSec__treeItemYrArea
                                        p.hisSec__treeItemYrText
                                            | 2021
                    // / hisSec__tree
                    p.hisSec__endText
                        | CONTINUING
                        br
                        | GOALS
                    ul.hisSec__goalList
                        li.hisSec__goalItem COMPETENT
                        li.hisSec__goalItem TEAM PLAYER
                        li.hisSec__goalItem SUSTAINABLE
            |
            |
            section.proSec
                .proSec__inner
                    h2.titleBlock PROJECTS
                    ul.proSec__list
                        |
                        |
                        li.proSec__item
                            a.proSec__itemAnchor(href="https://dependent-soap.surge.sh/" target="_blank")
                                figure.proSec__itemImageArea
                                    .proSec__itemImageThumb(style="background-image: url('./_assets/img/projects/x.png');")
                                .proSec__itemTextArea
                                    p.proSec__itemTitleText
                                        span.proSec__itemTitleText Project X
                                        span.proSec__itemLabel.u-client Client
                                    p.proSec__itemParaText It is a project to discuss the difficulties and potential interest in the night life industry.
                        li.proSec__item
                            a.proSec__itemAnchor(href="http://e-yo.main.jp/mizumawari24hv3/" target="_blank")
                                figure.proSec__itemImageArea
                                    .proSec__itemImageThumb(style="background-image: url('./_assets/img/projects/24h.png');")
                                .proSec__itemTextArea
                                    p.proSec__itemTitleText
                                        span.proSec__itemTitleText Mizumawari24H
                                        span.proSec__itemLabel.u-client Client
                                    p.proSec__itemParaText It is a campaign page to show support for water services and the effects of the COVID-19 pandemic.
                        li.proSec__item
                            a.proSec__itemAnchor(href="https://distinct-mountain.surge.sh/" target="_blank")
                                figure.proSec__itemImageArea
                                    .proSec__itemImageThumb(style="background-image: url('./_assets/img/projects/rouland.png');")
                                .proSec__itemTextArea
                                    p.proSec__itemTitleText
                                        span.proSec__itemTitleText Rouland
                                        span.proSec__itemLabel.u-client Client
                                    p.proSec__itemParaText It is a project that serves as a landing page for hair salon business.
                        li.proSec__item
                            a.proSec__itemAnchor(href="https://puller.asia/" target="_blank")
                                figure.proSec__itemImageArea
                                    .proSec__itemImageThumb(style="background-image: url('./_assets/img/projects/puller.png');")
                                .proSec__itemTextArea
                                    p.proSec__itemTitleText
                                        span.proSec__itemTitleText Puller.asia
                                        span.proSec__itemLabel.u-client Client
                                    p.proSec__itemParaText It is a product landing page of a popular pet product supplier.
                        li.proSec__item
                            a.proSec__itemAnchor(href="https://fortunate-wind.surge.sh/" target="_blank")
                                figure.proSec__itemImageArea
                                    .proSec__itemImageThumb(style="background-image: url('./_assets/img/projects/blueled.png');")
                                .proSec__itemTextArea
                                    p.proSec__itemTitleText
                                        span.proSec__itemTitleText Blueled
                                        span.proSec__itemLabel.u-client Client
                                    p.proSec__itemParaText It is a project to showcase information about a insurance agency.
                        li.proSec__item
                            a.proSec__itemAnchor(href="https://private-stranger.surge.sh/" target="_blank")
                                figure.proSec__itemImageArea
                                    .proSec__itemImageThumb(style="background-image: url('./_assets/img/projects/kanamachi.png');")
                                .proSec__itemTextArea
                                    p.proSec__itemTitleText
                                        span.proSec__itemTitleText Kanamachi
                                        span.proSec__itemLabel.u-client Client
                                    p.proSec__itemParaText It is a landing page for a dental agency.
                        li.proSec__item
                            a.proSec__itemAnchor(href="https://beautiful-passenger.surge.sh/" target="_blank")
                                figure.proSec__itemImageArea
                                    .proSec__itemImageThumb(style="background-image: url('./_assets/img/projects/placeschooler.png');")
                                .proSec__itemTextArea
                                    p.proSec__itemTitleText
                                        span.proSec__itemTitleText Placeschooler
                                        span.proSec__itemLabel PERSONAL
                                    p.proSec__itemParaText It is a landing page built using React.
            //- |
            //- |
            //- section.achSec
            //-     .achSec__inner
            //-         h2.titleBlock ACHIEVEMENTS
            //-         ul.achSec__list
            //-             |
            //-             |
            //-             li.achSec__item
            //-                 a.achSec__itemAnchor(href="#" target="_blank")
            //-                     figure.achSec__itemImageArea
            //-                         .achSec__itemImageThumb(style="background-image: url('./_assets/img/common/logo.svg');")
            //-                     .achSec__itemTextArea
            //-                         p.achSec__itemTitleText Implement a Student ID System
            //-                         p.achSec__itemParaText A project that seeks to implement a system for the entire student body to fast track and digitised borrowing books and also for student identification.
            |
            |
            section.tooSec
                .tooSec__inner
                    h2.titleBlock.u-logo(data-accord="toolBody")
                        span(class="fas fa-tools")
                    .tooSec__list(id="toolBody")
                        .tooSec__listItem
                            .tooSec__listItemTitleText Design and Documentation
                            .tooSec__innerList
                                .tooSec__innerListCol
                                    .tooSec__innerListColItem Adobe Creative Cloud
                                    .tooSec__innerListColItem.u-sec01Level Adobe Photoshop
                                    .tooSec__innerListColItem.u-sec01Level Adobe Illustrator
                                    .tooSec__innerListColItem.u-sec01Level Adobe InDesign
                                    .tooSec__innerListColItem.u-sec01Level Adobe XD
                                .tooSec__innerListCol
                                    .tooSec__innerListColItem Figma
                                    .tooSec__innerListColItem Microsoft Office
                                    .tooSec__innerListColItem Google Services

                        |
                        |
                        .tooSec__listItem
                            .tooSec__listItemTitleText Development Tools
                            .tooSec__innerList
                                .tooSec__innerListCol
                                    .tooSec__innerListColItem Prepos
                                    .tooSec__innerListColItem NPM Packages
                                    .tooSec__innerListColItem.u-sec01Level GULP.js
                                    .tooSec__innerListColItem.u-sec01Level PUG.js
                                .tooSec__innerListCol
                                    .tooSec__innerListColItem Visual Studio Code
                                    .tooSec__innerListColItem Github
                                    .tooSec__innerListColItem Bitbucket
                        |
                        |
                        .tooSec__listItem
                            .tooSec__listItemTitleText Libraries and Frameworks
                            .tooSec__innerList
                                .tooSec__innerListCol
                                    .tooSec__innerListColItem JS Libraries
                                    .tooSec__innerListColItem.u-sec01Level REACT.js
                                    .tooSec__innerListColItem.u-sec01Level VUE.js
                                    .tooSec__innerListColItem.u-sec01Level NUXT.js
                                .tooSec__innerListCol
                                    .tooSec__innerListColItem CMS
                                    .tooSec__innerListColItem.u-sec01Level WordPress
                                    .tooSec__innerListColItem Animation Library
                                    .tooSec__innerListColItem.u-sec01Level GSAP
                                    .tooSec__innerListColItem.u-sec01Level ScrollMagic
                        |
                        |
                        .tooSec__listItem
                            .tooSec__listItemTitleText Languages
                            .tooSec__innerList
                                .tooSec__innerListItem HTML5
                                .tooSec__innerListItem SCSS/CSS3
                                .tooSec__innerListItem ES6
                                .tooSec__innerListItem jQuery
                                .tooSec__innerListItem PHP
            |
            |
            section.conSec
                .conSec__inner
                    h2.titleBlock.u-aCenter CONTACT US
                    ul.conSec__listLink
                        li.conSec__listLinkItem
                            a.conSec__listLinkAnchor(href="./_assets/docs/resume.docx" target="_blank" rel="noopener noreferrer")
                                span.material-icons contact_page
                        li.conSec__listLinkItem
                            a.conSec__listLinkAnchor(href="https://www.linkedin.com/in/markcalderon/" target="_blank" rel="noopener noreferrer")
                                span.conSec__faIcon(class="fab fa-linkedin-in")
                        li.conSec__listLinkItem
                            a.conSec__listLinkAnchor(href="https://twitter.com/markzev0" target="_blank" rel="noopener noreferrer")
                                span.conSec__faIcon(class="fab fa-twitter")
                        li.conSec__listLinkItem
                            a.conSec__listLinkAnchor(href="https://github.com/MarkCalderon" target="_blank" rel="noopener noreferrer")
                                span.conSec__faIcon(class="fab fa-github")
                    form.conSec__form(id="form" novalidate method="post")
                        table.conSec__table
                            tbody.conSec__tableTBody
                                tr.conSec__tableTr
                                    td.conSec__tableTd(colspan="2")
                                        legend.conSec__formLegend
                                            p.conSec__formLegendText All fields are required to be filled in.
                                tr.conSec__tableTr
                                    td.conSec__tableTd(colspan="2")
                                        label.conSec__label(for="input-email")
                                            span.conSec__labelText
                                                | Email Address:
                                            span.conSec__requiredText REQUIRED
                                            //- span.conSec__successText VALID
                                        .conSec__input
                                            input.conSec__textInput(class="form-control" type="email" name="input-email" required placeholder="email@mail.com" data-pristine-required-message="Please provide an email for us to reach you.")
                                            p.conSec__errorText
                                tr.conSec__tableTr
                                    td.conSec__tableTd(colspan="2")
                                        label.conSec__label(for="input-name")
                                            span.conSec__labelText
                                                | Name:
                                            span.conSec__requiredText REQUIRED
                                            //- span.conSec__successText VALID
                                        .conSec__input
                                            input.conSec__textInput(class="form-control" type="text" name="input-name" required data-pristine-required-message="How should we address you?")
                                            p.conSec__errorText
                                tr.conSec__tableTr
                                    td.conSec__tableTd
                                        label.conSec__label(for="input-type")
                                            span.conSec__labelText
                                                | Type:
                                            span.conSec__requiredText REQUIRED
                                            //- span.conSec__successText VALID
                                        .conSec__input
                                            input.conSec__radioInput(class="form-control" type="radio" name="input-type" required)
                                            label(for="type-proposal")
                                                span.conSec__choiceText Proposal
                                            input.conSec__radioInput(class="form-control" type="radio" name="input-type" required data-pristine-required-message="What type of discussion you would like to discuss?")
                                            label(for="type-consultation")
                                                span.conSec__choiceText Consulation
                                            p.conSec__errorText
                                tr.conSec__tableTr
                                    td.conSec__tableTd(colspan="2")
                                        label.conSec__label(for="input-message")
                                            span.conSec__labelText
                                                | Details:
                                            span.conSec__requiredText REQUIRED
                                            //- span.conSec__successText VALID
                                        .conSec__input
                                            textarea.conSec__textArea(class="form-control" name="input-message" required minlength="20" maxlength="100" data-pristine-required-message="Include a short description of your query.")
                                            p.conSec__errorText
                                tr.conSec__tableTr
                                    td.conSec__tableTd(colspan="2")
                                        .conSec__input
                                            input.conSec__submitInput(type="submit" value="SEND MESSAGE" )


            script(src="./_assets/lib/validate/pristine.js")
            script(src="./_assets/js/main.js")
        footer

