- let relativePath = '.'
- let page_title = 'MARK CALDERON | FRONT END WEB DEVELOPER | SOFTWARE ENGINEER'
- let meta_title = page_title
- let meta_description = 'We build landing pages, product listing, brand pages, contact forms and Custom WordPress Themes.'
- let meta_keywords = 'web developer, web, web design, web development, web consultation'
- let meta_url = `https://markcalderon.surge.sh`

doctype html
html(lang="en")
    include _inc/_head.pug
    body
        // Google Tag Manager (noscript)
        noscript
            iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-WPF2ZCZ" height="0" width="0" style="display:none;visibility:hidden")
        // End Google Tag Manager (noscript)
        main
            include _inc/_sections/_kvSec.pug
            //- include _inc/_header.pug
            include _inc/_sections/_introSec.pug
            include _inc/_sections/_hisSec.pug
            include _inc/_sections/_softSec.pug
            include _inc/_sections/_proSec.pug
            //- include _inc/_sections/_tooSec.pug
            include _inc/_sections/_conSec.pug
            include _inc/_modals.pug
            include _inc/_footer.pug

