.conSec {
    $this: &;
    position: relative;
    z-index: 2;
    margin-top: 64px;
    @include u-mqMax {
        margin-top: 15px;
    }

    &__formLegendText {
        font-size: 1.2rem;
        @include u-mqMax {
            font-size: 1rem;
        }
    }

    &__title {
        display: flex;
        justify-content: center;
    }

    &__inner {
        position: relative;
        z-index: 2;
        margin: auto;
        max-width: 1230px;
        padding: 0 15px;
    }

    &__listLink {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    &__listLinkItem {
        margin: 0 5px;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        border: 1px solid $black;
        display: flex;
        justify-content: center;
        align-items: center;
        @include u-mqMax {
            width: 45px;
            height: 45px;
        }
    }

    &__faIcon {
        font-size: 3em;
        @include u-mqMax {
            font-size: 1.3rem;
        }
    }

    &__listLinkAnchor {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s ease;
        &:hover {
            opacity: 0.3;
        }
    }

    &__table {
        margin: 20px auto 0;
        padding: 20px 61px;
        width: 100%;
        max-width: 777px;
        border: 1px solid $black;
        border-radius: 10px;
        background-color: $white;
        @include u-mqMax {
            padding: 10px 15px 30px;
        }
    }

    &__tableTd {
        padding-top: 20px;
        @include u-mqMax {}

        &.has-danger {
            #{$this}__requiredText {
                display: inline-block;
            }
        }

        &.has-success {
            #{$this}__successText {
                display: inline-block;
            }
        }

    }

    &__labelText {
        font-size: 1.2rem;
        font-weight: 300;
        @include u-mqMax {
            font-size: 1rem;
        }
    }

    &__choiceText {
        font-size: 1.2rem;
        font-weight: 300;
        @include u-mqMax {
            font-size: 1rem;
        }
    }

    &__requiredText {
        margin-left: 10px;
        padding: 5px 10px;
        font-size: 0.8rem;
        font-weight: bold;
        color: $white;
        background-color: $red;
        display: none;
    }

    &__successText {
        margin-left: 10px;
        padding: 5px 10px;
        font-size: 1.2rem;
        font-weight: bold;
        color: $white;
        background-color: rgb(91, 196, 91);
        display: none;
        @include u-mqMax {
            font-size: 1rem;
        }
    }

    &__input {
        margin-top: 10px;
    }

    &__textInput {
        padding: 0 10px;
        width: 100%;
        height: 60px;
        font-size: 1.2rem;
        box-sizing: border-box;
        @include u-mqMax {
            font-size: 1rem;
        }

        &[type="email"] {
            max-width: 320px;
            @include u-mqMax {
                max-width: 100%;
            }
        }
    }

    &__errorText {
        margin-top: 10px;
        font-size: 1.2rem;
        color: $red;
        @include u-mqMax {
            font-size: 1rem;
        }
    }

    &__radioInput {
        margin: 0 5px;
        width: 20px;
        height: 20px;

        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    &__textArea {
        padding: 10px;
        width: 100%;
        height: 150px;
        resize: none;
        font-size: 1.2rem;
        line-height: 1.5;
        @include u-mqMax {
            font-size: 1rem;
        }
    }

    &__input {
        display: flex;
        align-items: center;
    }

    &__submitInput {
        margin: auto;
        padding: 0 10px;
        width: 100%;
        max-width: 300px;
        height: 60px;
        font-size: 1.2rem;
        font-weight: 300;
        box-sizing: border-box;
        border: 0;
        outline: 0;
        background-color: $white;
        border-radius: 5px;
        border: 1px solid $black;
        transition: .7s ease;
        cursor: pointer;
        font-weight: 500;
        @include u-mqMax {
            font-size: 1rem;
        }

        &:hover {
            background-color: rgba($black, .5);
            color: $white;
        }
    }
}