// hisSec
.hisSec {
  $this: '.hisSec';
  border-top: 10px solid $black;
  padding-top: 100px;

  @include u-mqMax {
    padding-top: 0;
    border-top: 0;
  }

  &__inner {
    margin: auto;
    max-width: 1230px;
    padding: 0 15px;

  }

  // TREE AREA

  &__title {
    display: flex;
    justify-content: center;
  }

  &__startText {
    position: relative;
    padding: 0 30px;
    display: inline-block;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    color: $white;
    transition: .5s ease;

    @include u-mqMax {
      padding: 10px 30px;
      font-size: 1.5rem;
      display: block;
      width: 100%;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: -2;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0;
      height: 100%;
      background-color: $black;
      transition: .5s ease;
    }

    &.aos-animate {
      &:before {
        width: 100%;
      }
    }
  }

  &__tree {
    margin: 100px auto 0;
    display: flex;
    flex-flow: nowrap;

    @include u-mqMax {
      margin: 0 auto;
      flex-direction: column;
    }
  }

  &__treeLeft,
  &__treeMid,
  &__treeRight {
    width: 100%;
  }

  &__treeMid {
    max-width: 1px;
  }

  &__treeItem {
    position: relative;

    @include u-mqMax {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    &:before,
    &:after {
      position: absolute;
      content: '';
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    &.u-leftSide {
      @include u-mqMax {
        padding-left: 15px;
      }

      &:before {
        right: 0;
        width: 2px;
        height: 0;
        background-color: $black;
        transition: 2s linear;

        @include u-mqMax {
          left: 0;
          right: auto;
          transition: 1s linear
        }
      }

      &:after {
        right: 0;
        width: 0;
        height: 2px;
        background-color: $black;
        transition: 2s linear;

        @include u-mqMax {
          left: 0;
          right: auto;
          transition: 2s 1s linear;
        }
      }

      #{$this}__treeItemList {
        padding-left: 10px;

        @include u-mqMax {
          padding-left: 0;
        }
      }

      #{$this}__treeItemYrText {
        text-align: right;

        @include u-mqMax {
          text-align: left;
        }
      }

      #{$this}__treeItemYrArea {
        padding-right: 20px;

        @include u-mqMax {
          padding-right: 0;
        }
      }

      &:nth-child(n+2) {
        padding-top: 100px;

        @include u-mqMax {
          padding-top: 15px;
        }
      }
    }

    &.u-rightSide {
      margin-left: -2px;

      @include u-mqMax {
        padding-left: 15px;
        margin-left: 0;
      }

      &:before {
        content: '';
        left: 0;
        width: 2px;
        height: 0;
        background-color: $black;
        transition: 2s linear;

        @include u-mqMax {
          transition: 1s linear;
        }
      }

      &:after {
        left: 0;
        width: 0;
        height: 2px;
        background-color: $black;
        transition: 2s linear;

        @include u-mqMax {
          transition: 1s 1s linear;
        }
      }

      #{$this}__treeItemList {
        padding-right: 10px;
        justify-content: flex-start;
        flex-direction: row-reverse;

        @include u-mqMax {
          padding-right: 0;
          flex-direction: column-reverse;
        }
      }

      #{$this}__treeItemCntArea {
        text-align: right;

        @include u-mqMax {
          text-align: left;
        }
      }

      #{$this}__treeItemYrArea {
        padding-left: 20px;

        @include u-mqMax {
          padding-left: 0;
        }
      }

      &:nth-child(n+1) {
        margin-top: 100px;

        @include u-mqMax {
          margin-top: 0;
        }
      }
    }
  }

  &__treeItemList {
    padding: 20px 0 10px;
    display: flex;
    flex-flow: nowrap;
    width: 100%;
    box-sizing: border-box;

    @include u-mqMax {
      padding: 0;
      flex-direction: column-reverse;
    }
  }

  &__treeItemYrArea {
    width: 100px;

    @include u-mqMax {
      width: 100%;
    }
  }

  &__treeItemCntArea {
    width: calc(100% - 100px);
    font-weight: 300;
    font-size: 1rem;

    @include u-mqMax {
      width: 100%;
      font-size: 0.8rem;
    }
  }

  &__treeMid {
    margin-right: -1px;
    border-left: 2px solid $black;
  }

  &__treeItemCntTitleText {
    font-weight: 400;
    word-break: break-all;
  }

  &__treeItemCntLosText {
    color: $gray;
    word-break: break-all;
  }

  &__treeItemYrText {
    font-size: 1rem;
    font-weight: 900;
  }
}