// procSec
.proSec {
  $this: '.proSec';
  margin-top: 100px;
  @include u-mqMax {
    margin-top: 15px;
  }

  &__inner {
    margin: auto;
    max-width: 1230px;
    padding: 0 15px;
  }

  &__list {
    margin-top: 70px;
    display: flex;
    flex-flow: row wrap;

    @include u-mqMax {
      margin-top: 15px;
      flex-direction: column;
    }
  }

  &__item {
    width: calc(100% / 3 - 14px);

    @include u-mqMax {
      width: 100%;
    }

    &:not(:nth-child(3n-2)) {
      margin-left: 20px;

      @include u-mqMax {
        margin-left: 0;
      }
    }

    &:nth-child(n+4) {
      margin-top: 20px;

      @include u-mqMax {
        margin-top: 0;
      }
    }

    &:not(:first-child) {
      @include u-mqMax {
        margin-top: 15px;
      }
    }

    &:nth-child(n+7) {
      display: none;
    }

    &.is-show {
      display: block;
    }
  }

  &__itemImageArea {
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: rgba($gray, 0.4);
      transition: .8s linear;
      @include u-mqMax {
        background-color: inherit;
      }
    }
  }

  &__itemImageThumb {
    transition: .8s linear;
    width: 100%;
    padding-bottom: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  &__itemAnchor {
    min-height: 376px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    transition: .5s ease;

    @include u-mqMax {
      padding: 0;
      min-height: auto;
      box-shadow: 1px 1px 20px 5px rgba(lightgray, .4);
    }

    &:hover {
      box-shadow: 1px 1px 20px 5px rgba(lightgray, .4);

      #{$this}__itemImageThumb {
        transform: scale(1.05);
        @include u-mqMax {
          transform: none;
        }
      }

      #{$this}__itemImageArea {
        &:before {
          background-color: rgba($black, 0);
        }
      }

      #{$this}__itemTitleText {
        color: rgba($black, .5);
        @include u-mqMax {
          color: rgba($black, 1);
        }
      }

      #{$this}__itemParaText {
        color: rgba($gray, .5);
        @include u-mqMax {
          color: rgba($gray, 1);
        }
      }
    }
  }

  &__itemTextArea {
    padding: 15px;
    box-sizing: border-box;
    min-height: 110px;
    font-size: 1rem;

    @include u-mqMax {
      min-height: auto;
    }
  }

  &__itemTitleText {
    font-size: 1.2rem;
    font-weight: 900;
    transition: .8s linear;

    @include u-mqMax {
      font-size: 1rem;
    }
  }

  &__itemLabel {
    padding: 5px 10px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 0.6em;
    background-color: $lightgray;
    text-transform: uppercase;

    &.u-client {
      background-color: lightgoldenrodyellow;
    }
  }

  &__itemParaText {
    margin-top: 5px;
    font-weight: 300;
    font-size: 1.2rem;
    color: $gray;
    transition: .8s linear;

    @include u-mqMax {
      font-size: 1rem;
    }
  }

  &__more {
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__moreAnchor {
    padding: 10px 30px;
    display: block;
    margin: auto;
    font: bold 1.5rem/1.5 $Roboto;
    cursor: pointer;
    user-select: none;
    background-color: lightgray;
    transition: .5s ease;

    &:hover {
      opacity: .5;
    }
  }
}