section.hisSec
    .hisSec__inner
        .hisSec__title
            p.hisSec__startText(data-aos="wipe-right-black") CAREER PATHWAY
        .hisSec__tree
            |
            |
            .hisSec__treeLeft
                |
                |
                .hisSec__treeItem(class="u-leftSide u-pcDb" data-aos="grow-line")
                    .hisSec__treeItemList
                        .hisSec__treeItemCntArea(data-aos="fade")
                            p.hisSec__treeItemCntTitleText
                                | GRADUATE HONOURS STUDENT
                                br
                                | BACHELOR OF SCIENCE (HONOURS) IN
                                br
                                | COMPUTER SCIENCE AND SOFTWARE ENGINEERING
                            p.hisSec__treeItemCntLosText
                                | OXFORD BROOKES UNIVERSITY @ SINGAPORE
                        .hisSec__treeItemYrArea(data-aos="fade")
                            p.hisSec__treeItemYrText
                                | 2010-2014
                .hisSec__treeItem(class="u-leftSide u-spDb" data-aos="grow-line")
                    .hisSec__treeItemList
                        .hisSec__treeItemCntArea(data-aos="fade")
                            p.hisSec__treeItemCntTitleText
                                | TEAM LEAD&nbsp; | &nbsp;FRONT-END WEB DEVELOPER
                            p.hisSec__treeItemCntLosText
                                | COMMUDE PHILIPPINES INC.
                        .hisSec__treeItemYrArea(data-aos="fade")
                            p.hisSec__treeItemYrText
                                | 2021
                |
                |
                .hisSec__treeItem(class="u-leftSide" data-aos="grow-line")
                    .hisSec__treeItemList
                        .hisSec__treeItemCntArea(data-aos="fade")
                            p.hisSec__treeItemCntTitleText
                                | JUNIOR FRONT-END WEB DEVELOPER
                            p.hisSec__treeItemCntLosText
                                | COMMUDE PHILIPPINES INC.
                        .hisSec__treeItemYrArea(data-aos="fade")
                            p.hisSec__treeItemYrText
                                | 2019
            |
            |
            .hisSec__treeRight
                |
                |
                .hisSec__treeItem(class="u-rightSide" data-aos="grow-line")
                    .hisSec__treeItemList
                        .hisSec__treeItemCntArea(data-aos="fade")
                            p.hisSec__treeItemCntTitleText
                                | INFORMATION & COMMUNICATIONS
                                br
                                | AND TECHNOLOGY TEACHER
                            p.hisSec__treeItemCntLosText
                                | SERI MULIA SARJANA INTERNATIONAL SCHOOL
                        .hisSec__treeItemYrArea(data-aos="fade")
                            p.hisSec__treeItemYrText
                                | 2015-2019
                |
                |
                .hisSec__treeItem(class="u-rightSide u-pcDb" data-aos="grow-line")
                    .hisSec__treeItemList
                        .hisSec__treeItemCntArea(data-aos="fade")
                            p.hisSec__treeItemCntTitleText
                                | TEAM LEAD&nbsp; | &nbsp;FRONT-END WEB DEVELOPER
                            p.hisSec__treeItemCntLosText
                                | COMMUDE PHILIPPINES INC.
                        .hisSec__treeItemYrArea(data-aos="fade")
                            p.hisSec__treeItemYrText
                                | 2021
                .hisSec__treeItem(class="u-rightSide u-spDb" data-aos="grow-line")
                    .hisSec__treeItemList
                        .hisSec__treeItemCntArea(data-aos="fade")
                            p.hisSec__treeItemCntTitleText
                                | GRADUATE HONOURS STUDENT
                                br
                                | BACHELOR OF SCIENCE (HONOURS) IN
                                br
                                | COMPUTER SCIENCE AND SOFTWARE ENGINEERING
                            p.hisSec__treeItemCntLosText
                                | OXFORD BROOKES UNIVERSITY @ SINGAPORE
                        .hisSec__treeItemYrArea(data-aos="fade")
                            p.hisSec__treeItemYrText
                                | 2010-2014