section.introSec
    .introSec__inner(data-aos="intro-anim")
        .introSec__innerRightCut
        .introSec__innerLeftCut
        .introSec__textArea
            h1.introSec__headTitle(data-aos="wipe-up" data-aos-delay="1000") Mark Angeo Calderon
            p.introSec__subTitle(data-aos="fade" data-aos-delay="1000") A Web Developer
        .introSec__galArea
            figure.introSec__figureArea(class="u-figure03" data-aos-delay="1000")
                img.introSec__figureThumb(src=`${relativePath}/_assets/img/intro/thumb-01.png` alt="thumb")
            figure.introSec__figureArea(class="u-figure01" data-aos="fade" data-aos-delay="1000")
                img.introSec__figureThumb(src=`${relativePath}/_assets/img/intro/thumb-02.png` alt="thumb")
            figure.introSec__figureArea(class="u-figure02" data-aos-delay="1000")
                img.introSec__figureThumb(src=`${relativePath}/_assets/img/intro/thumb-03.png` alt="thumb")