section.kvSec
    .kvSec__inner
        figure.kvSec__figureArea
            img.kvSec__figureThumb(src=`${relativePath}/_assets/img/common/logo.svg` alt="logo")
        //- .kvSec__gallery.js-panoObj
        .kvSec__gallery
            .swiper-wrapper
                .swiper-slide.u-flash
                    figure.kvSec__figureBg(style="background-image: url('" + `${relativePath}` + "/_assets/img/kv/kv-01.png')")
                .swiper-slide.u-zoom
                    figure.kvSec__figureBg(style="background-image: url('" + `${relativePath}` + "/_assets/img/kv/kv-02.png')")
                .swiper-slide.u-zoom
                    figure.kvSec__figureBg(style="background-image: url('" + `${relativePath}` + "/_assets/img/kv/kv-03.jpg')")