section.softSec
    .softSec__inner
        .softSec__title
            p.softSec__titleText(data-aos="wipe-right-black")
                | SOFT SKILLS
        ul.softSec__goalList
            li.softSec__goalItem(class="u-right")
                .softSec__goalItemTextArea
                    h3.softSec__goalItemTitleText(data-aos="wipe-right") COMMUNICATE
                    figure.softSec__goalItemFigureArea(class="u-goalItem01" data-aos="zoom-out")
                        img.softSec__goalItemFigureThumb(src=`${relativePath}/_assets/img/communicate.png` alt="item")
                        //- Image by <a href="https://pixabay.com/users/tumisu-148124/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2044700">Tumisu</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2044700">Pixabay</a>
                    p.softSec__goalItemParaText(data-aos="zoom-out")
                        | Expression of an idea
            li.softSec__goalItem(class="u-left")
                .softSec__goalItemTextArea
                    h3.softSec__goalItemTitleText(data-aos="wipe-left") COLLABORATE
                    figure.softSec__goalItemFigureArea(class="u-goalItem02" data-aos="zoom-out")
                        img.softSec__goalItemFigureThumb(src=`${relativePath}/_assets/img/chat.jpg`)
                        //- Image by <a href="https://pixabay.com/users/memed_nurrohmad-3307648/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1873536">Memed_Nurrohmad</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1873536">Pixabay</a>
                    p.softSec__goalItemParaText(data-aos="zoom-out")
                        | Collaborate with peers of different origins
            li.softSec__goalItem(class="u-right")
                .softSec__goalItemTextArea
                    h3.softSec__goalItemTitleText(data-aos="wipe-right") ORGANIZE
                    figure.softSec__goalItemFigureArea(class="u-goalItem03" data-aos="zoom-out")
                        img.softSec__goalItemFigureThumb(src=`${relativePath}/_assets/img/organize.png`)
                        //- Image by <a href="https://pixabay.com/users/clker-free-vector-images-3736/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=23639">Clker-Free-Vector-Images</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=23639">Pixabay</a>
                    p.softSec__goalItemParaText(data-aos="zoom-out")
                        | Systematic approach to a problem