section.tooSec
    .tooSec__inner
        h2.titleBlock.u-logo(data-accord="toolBody")
            span(class="fas fa-tools")
        .tooSec__list(id="toolBody")
            .tooSec__listItem
                .tooSec__listItemTitleText Design and Documentation
                .tooSec__innerList
                    .tooSec__innerListCol
                        .tooSec__innerListColItem Adobe Creative Cloud
                        .tooSec__innerListColItem.u-sec01Level Adobe Photoshop
                        .tooSec__innerListColItem.u-sec01Level Adobe Illustrator
                        .tooSec__innerListColItem.u-sec01Level Adobe InDesign
                        .tooSec__innerListColItem.u-sec01Level Adobe XD
                    .tooSec__innerListCol
                        .tooSec__innerListColItem Figma
                        .tooSec__innerListColItem Microsoft Office
                        .tooSec__innerListColItem Google Services

            |
            |
            .tooSec__listItem
                .tooSec__listItemTitleText Development Tools
                .tooSec__innerList
                    .tooSec__innerListCol
                        .tooSec__innerListColItem Prepos
                        .tooSec__innerListColItem NPM Packages
                        .tooSec__innerListColItem.u-sec01Level GULP.js
                        .tooSec__innerListColItem.u-sec01Level PUG.js
                    .tooSec__innerListCol
                        .tooSec__innerListColItem Visual Studio Code
                        .tooSec__innerListColItem Github
                        .tooSec__innerListColItem Bitbucket
            |
            |
            .tooSec__listItem
                .tooSec__listItemTitleText Libraries and Frameworks
                .tooSec__innerList
                    .tooSec__innerListCol
                        .tooSec__innerListColItem JS Libraries
                        .tooSec__innerListColItem.u-sec01Level REACT.js
                        .tooSec__innerListColItem.u-sec01Level VUE.js
                        .tooSec__innerListColItem.u-sec01Level NUXT.js
                    .tooSec__innerListCol
                        .tooSec__innerListColItem CMS
                        .tooSec__innerListColItem.u-sec01Level WordPress
                        .tooSec__innerListColItem Animation Library
                        .tooSec__innerListColItem.u-sec01Level GSAP
                        .tooSec__innerListColItem.u-sec01Level ScrollMagic
            |
            |
            .tooSec__listItem
                .tooSec__listItemTitleText Languages
                .tooSec__innerList
                    .tooSec__innerListItem HTML5
                    .tooSec__innerListItem SCSS/CSS3
                    .tooSec__innerListItem ES6
                    .tooSec__innerListItem jQuery
                    .tooSec__innerListItem PHP