
// procSec
.proSec {
    $this: '.proSec';
    margin-top: 100px;

    &__inner {
        margin: auto;
        max-width: 1230px;
        padding: 0 15px;
    }

    &__list {
        margin-top: 30px;
        display: flex;
        flex-flow: row wrap;
    }

    &__item {
        width: calc(100% / 3 - 14px);
        box-sizing: border-box;
        box-shadow: 1px 1px 20px 5px rgba(lightgray, .4);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        &:not(:nth-child(3n-2)) {
            margin-left: 20px;
        }

        &:nth-child(n+4) {
            margin-top: 40px;
        }
    }

    &__itemImageArea {
        position: relative;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: rgba($gray, 0.4);
            transition: .8s linear;
        }
    }

    &__itemImageThumb {
        transition: .8s linear;
        width: 100%;
        padding-bottom: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    &__itemAnchor {
        display: block;

        &:hover {
            #{$this}__itemImageThumb {
                transform: scale(1.05);
            }

            #{$this}__itemImageArea {
                &:before {
                    background-color: rgba($black, 0);
                }
            }

            #{$this}__itemTitleText {
                color: rgba($black, .5);
            }

            #{$this}__itemParaText {
                color: rgba($gray, .5);
            }
        }
    }

    &__itemTextArea {
        padding: 15px 10px;
        box-sizing: border-box;
        min-height: 110px;
        font-size: 1rem;
    }

    &__itemTitleText {
        font-weight: 900;
        transition: .8s linear;
    }

    &__itemLabel {
        padding: 5px 10px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        font-size: 0.6em;
        background-color: $lightgray;
        text-transform: uppercase;

        &.u-client {
            background-color: lightgoldenrodyellow;
        }
    }

    &__itemParaText {
        margin-top: 5px;
        font-weight: 300;
        color: $gray;
        transition: .8s linear;
    }
}