@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&Roboto:wght@300;400;900&display=swap');
$Roboto: 'Roboto', sans-serif;
$Oswald: 'Oswold', sans-serif;

$gray: #A09E9E;
$black: #000;
$white: #fff;
$lightgray: #F1F1F1;
$darkgray: #C1C1C1;
$red: #F53B3B;

$mw: 768px;

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $black;
}

ul {
    list-style: none;
}

input, textarea {
    font-family: $Roboto;
}

// light 300
// regular 400
// black 900

body {
    font-family: $Roboto;
    font-size: 62.5%;
    line-height: 1.5;
}

// titleBlock
.titleBlock {
    padding: 10px 20px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    border: 1px solid $gray;
    font-size: 2rem;
    font-weight: 400;
    display: inline-block;
    font-weight: bold;
    box-shadow: 8px 10px 0 3px rgba($darkgray, 1);
    border-bottom-right-radius: 15px;

    &.u-aCenter {
        margin: auto;
        display: block;
    }

    &.u-logo {
        padding: 0;
        margin: auto;
        display: inline-block;
        width: auto;
        max-width: 100px;
        font-size: 2rem;
        border: 0;
        transition: 1s ease;
        cursor: pointer;
        box-shadow: none;

        &:hover {
            opacity: 0.3;
        }

        span {
            pointer-events: none;
        }
    }
}

@import './_mixin/u-mqMax';

@import './risingBall';
@import './introSec';
@import './kvSec';
@import './hisSec';
@import './proSec';
@import './achSec';
@import './tooSec';
@import './conSec';
@import './popSec';


[data-aos="grow-line"] {
    &.aos-animate {
        &:before {
            height: 100%;
        }

        &:after {
            width: 100%;
        }
    }
}


[data-aos="intro-anim"] {
    &.aos-animate {
        .introSec__innerRightCut {
            padding-top: 0;
        }
    
        .introSec__innerLeftCut {
            padding-bottom: 0;
        }
    }
}

[data-aos="wipe-right"] {
    &.aos-animate {
        opacity: 1;
        &:before {
            width: 0;
        }
    }
}

[data-aos="wipe-left"] {
    &.aos-animate {
        opacity: 1;
        &:before {
            width: 0;
        }
    }
}