-
    const projectList = [
        {
            link: 'https://dependent-soap.surge.sh/',
            image: 'x.png',
            title: 'Project X',
            labelClass: 'u-client',
            label: 'Client',
            desc: 'It is a project to discuss the difficulties and potential interest in the night life industry.',
        },
        {
            link: 'http://e-yo.main.jp/mizumawari24hv3/',
            image: '24h.png',
            title: 'Mizumawari24H',
            labelClass: 'u-client',
            label: 'Client',
            desc: 'It is a campaign page to show support for water services and the effects of the COVID-19 pandemic.',
        },
        {
            link: 'https://distinct-mountain.surge.sh/',
            image: 'rouland.png',
            title: 'Rouland',
            labelClass: 'u-client',
            label: 'Client',
            desc: 'It is a project that serves as a landing page for hair salon business.',
        },
        {
            link: 'https://puller.asia/',
            image: 'puller.png',
            title: 'Puller.asia',
            labelClass: 'u-client',
            label: 'Client',
            desc: 'It is a product landing page of a popular pet product supplier.',
        },
        {
            link: 'https://fortunate-wind.surge.sh/',
            image: 'blueled.png',
            title: 'Blueled',
            labelClass: 'u-client',
            label: 'Client',
            desc: 'It is a project to showcase information about a insurance agency.',
        },
        {
            link: 'https://private-stranger.surge.sh/',
            image: 'kanamachi.png',
            title: 'Kanamachi',
            labelClass: 'u-client',
            label: 'Client',
            desc: 'It is a landing page for a dental agency.',
        }
        //- {
        //-     link: 'https://beautiful-passenger.surge.sh/',
        //-     image: 'placeschooler.png',
        //-     title: 'Placeschooler',
        //-     labelClass: '',
        //-     label: 'Personal',
        //-     desc: 'It is a landing page built using React.',
        //- }
    ]