footer.footerSec
    .footerSec__bg
    .footerSec__inner
        small.footerSec__copyrightText
            | FRONT END WEB DEVELOPER
            span.footerSec__hr
            | MARK ANGEO CALDERON
    script(src=`https://smtpjs.com/v3/smtp.js`)
    script(src=`${relativePath}/_assets/lib/validate/pristine.js`)
    script(src="https://unpkg.com/swiper@5.4.2/js/swiper.min.js")
    script(src=`${relativePath}/_assets/js/main.js`)
