header.headerSec
    .headerSec__inner
        .headerSec__title
            | AN
            span.u-cYellow
                | G
            span.u-cRed
                | EO
        nav.headerSec__nav
            ul.headerSec__navList
                li.headerSec__navItem
                    a.headerSec__navItemAnchor(href="javascript:void(0);") Progression
                li.headerSec__navItem
                    a.headerSec__navItemAnchor(href="javascript:void(0);") Skills
                li.headerSec__navItem
                    a.headerSec__navItemAnchor(href="javascript:void(0);") Projects
                li.headerSec__navItem
                    a.headerSec__navItemAnchor(href="javascript:void(0);") Let's Talk